.container1 {
    display:flex;

}

.container1>div:nth-child(1) {
    width:45%;
    margin: 0 2rem;  
}

.container1>div:nth-child(2) {
    width:32%;
    margin: 0 2rem;

   
}

.container1>div:nth-child(2) h2 {

    margin-left:1rem;

}

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container1>div:nth-child(1) span {
    width: 25%;
    display:inline-block;
}

.container1>div:nth-child(1) input {
   width:73%;
   padding: 0.5rem;
   
   border-radius: 0.5rem;
   border: rgba(165, 216, 213, 0.63) solid 2px;
 
}

form>div {
    margin:0.6rem 0.6rem 0.6rem 0;
}

*{
    box-sizing: border-box;
}

 body .title {
    text-align: center;
    margin: 3rem 0 0 1.5rem 0;
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
}

h2 {
    margin-top:0.9em;
    margin-bottom:0.5em;

}

form button {
    margin-top: 0.7rem;
    color:white;
    border:0px;
    background-color: #799A98;
    padding:0.7rem;
    border-radius: 0.5rem;
}

.numbers button {
    margin-left: 0.7rem;
    color:white;
    border:0px;
    background-color: #799A98;
    padding:0.5rem;
    border-radius: 0.5rem;
}

.numbers {
    background-color: rgba(165, 216, 213, 0.35);
    padding: 1.5rem;
    height: 350px;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.numbers>div {
    overflow: scroll;
    height: 100%;

}

.numbers>div>div p{
    width: 75%;
    display: inline-block;
}


@media (max-width: 1080px) {
    .container1 {
        flex-direction: column;
        align-items: center;
        
    
    }

    .container1>div {
        width:50% !important;
       
    }
    


}

.goodmessage {
    color:#085e33;
    margin-top: 3rem;
}

.goodmessage2 {
    color:#085e33;
    margin-top: 2rem;
}

.titletext {
    text-align: center;
    margin: 0 3rem 2rem 3rem;
    font-size: 1rem;
}

footer h3 {
    margin-top: 9%;
    margin-left: 1.5%;
    font-size: 0.9rem;
}