.title {
  text-align:center;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;

}
.container2 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  
   
 

}
.countries {
  display: flex;
 
  justify-content: center;
  align-items: center;
  width:50%;
 
}
